.suc_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.suc_box h3{
  font-size: 20px  !important;
  color: var(--white)  !important;
  margin-top: 16px  !important;
  margin-bottom: 0px  !important;
  font-weight: 400 !important;

}